/* login.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login_window {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login_window form {
    display: flex;
    flex-direction: column;
}

.login_window label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login_window input[type="text"],
.login_window input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login_window input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.login_window input[type="submit"]:hover {
    background-color: #333;
}